.assignment {
    margin: 20px;
}

.assignment:hover {
    background-color: rgb(240,240,240);
    cursor: pointer;
}

#assignments {
    display: flex;
    flex-direction: column;
    justify-content: center;
}