
body { 
    margin: 0;
    width: 100%;
    background: linear-gradient(rgb(0, 200, 255) 0%, rgb(0, 80, 120) 100%);
}

.welcome h1 {
    font-size: 5rem;
    padding-top: 3rem;
    padding-left: 3rem;
    color: white;
    margin: 0;
    font-family: 'Roboto';
}

.welcome h2 {
    font-size: 2rem;
    color: white;
    padding-left: 4rem;
    font-family: 'Raleway';
}

.welcome {
    background: linear-gradient(40deg, rgb(0, 0, 160) 0%, rgb(0, 150, 220) 100%);
    background-image: url("../images/bkg.jpg");
    background-size: 130%;
    height: 120vh;
    z-index: -5;
    width: 100%;
}

@media (max-width: 800px) {
    .welcome {
        height: fit-content;
    }

    .welcome h1 {
        padding: 10vw;
        font-size: 4rem;
    }

    .welcome h2 {
        padding: 10vw;
    }

    #welc-grid {
        grid-template-columns: 100% !important;
    }

    #welc-spacer {
        height: 200px;
    }
}

.welcome img {
    height: 100vw;
}

#welc-grid {
    display: grid;
    grid-template-columns: 60% 40%;
}

h3 {
    color: white;
    font-size: 2rem;
}

.rel {
    position: relative;
    margin: 0;
}

.slant {
    background-color: orange;
    height: fit-content;
    z-index: 30;
}

.slant:after {
    transform-origin: left bottom;
    transform: skewY(-3deg) translateY(-5vh);
    position: absolute;
    background-color: inherit;
    content: '';
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.slant-end {
    width: 100%;
}

.slant h3 {
    padding: 0rem 5rem 5rem 5rem;
    z-index: 300;
    position: relative;
    transform: rotate(-3deg) translateY(-5vh);
    font-family: 'Raleway';
}

.prereq:after {
    transform: skewY(3deg) !important;
    background-color: #54c6ff;
    height: 140%;
    z-index: 2;
}

.prereq h3 {
    padding: 1rem 5rem 1rem 5rem;
    transform: rotate(3deg) !important;
    color: white;
}

.syllabus {
    background: linear-gradient(rgb(0, 128, 255) 0%, rgb(20, 80, 128) 100%);
    height: fit-content;
    transform: translateY(-40px);
    position: relative;
    z-index: 1;
}

.syllabus h1 {
    padding-top: 10rem;
    padding-left: 4rem;
    margin-bottom: 0;
    color: white;
    font-size: 9rem;
    word-wrap: break-word;
    font-family: 'Raleway';
}

.syllabus h2 {
    margin-top: 1rem;
    padding-left: 4rem;
    color: white;
    font-family: 'Roboto';
}

.syllabus a {
    color: #b5d5ff;
}

.syllabus a:hover {
    color: #86b9fb;
}

.syllabus-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media (max-width: 1175px) {
    .syllabus-grid {
        grid-template-columns: 100%;
    }

    .syllabus h1 {
        font-size: 20vw;
    }

    centre h1 {
        font-size: calc(min(5rem, 14vw)) !important;
    }
}

#syllabus-right {
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 2rem;
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto';
}

.syllabus:after {
    border-radius: 0 0 50% 50%;
    width: 100%;
    height: 10vw;
    position: absolute;
    bottom: 0;
    background: rgb(20, 80, 128);
    z-index: -60;
    content: '';
    transform: translateY(9.9vw);
}

.team {
    height: fit-content;
    background: linear-gradient(45deg, rgb(3, 252, 57) 0%, rgb(0, 119, 255) 100%);
    position: relative;
    z-index: -10;
    padding-top: 10vw;
    padding-bottom: 5rem;
}

centre {
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
}

centre h1 {
    font-size: 5rem;
    text-align: center;
    font-family: 'Raleway';
    padding: 0 5vw;
}

#inst-list {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

inst {
    margin: 1rem 1rem;
    background: linear-gradient(12deg, #177fff 0%, #7e00d9 100%);
    padding: 1rem;
    border-color: white;
    border-style: solid;
    border-width: 4px;
    width: 20rem;
}

inst h3 {
    font-family: 'Raleway';
    font-size: 2rem;
    align-items: center;
}

inst h4 {
    font-family: 'Raleway';
    font-size: 1.5rem;
    text-align: center;
    word-wrap: normal;
}

inst img {
    width: calc(min(max(20vw, 200px), 18rem));
    height: calc(min(max(25vw, 250px), 23rem));
    border-style: solid;
    border-color: white;
    border-width: 4px;
}