#welcome-cont {
    display: grid;
    grid-template-columns: 65% 35%;
}

#sign-in {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#login {
    margin: 20px;
}

#course-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#description {
    width: 100%;
}

#desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inst-tile {
    width: fit-content !important;
    padding: 25px;
    margin: 25px;
}

#instructors {
    padding: 20px;
}

#instr-cont {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.instr-img {
    width: calc(min(max(20vw, 200px), 18rem));
    height: calc(min(max(25vw, 250px), 23rem));
}

.inst-tile h3 {
    text-align: center;
}

.inst-tile p {
    text-align: center;
}

#welcome {
    background: linear-gradient(26deg, rgb(240, 221, 177) 0%, rgb(255, 210, 137) 100%);
}