.title {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 3px;
    background: linear-gradient(65deg, rgb(182, 255, 113) 0%, rgb(113, 255, 201) 100%);
}

.title h1 {
    font-size: calc(min(13vw, 10rem));
    margin-bottom: 1rem;
}

.grades {
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem 3rem 4rem;
    background: linear-gradient(65deg, rgb(114, 255, 173) 0%, rgb(129, 245, 255) 100%);
}

.grade-entry {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

@media (max-width: 800px) {
    .grade-info {
        display: flex !important;
        flex-direction: column;
    }

    .grade-grid {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .grade-moreinfo img{
        height: 2rem;
    }
}

.grade-info {
    display: grid;
    grid-template-columns: calc(100% - 10rem) 5rem 5rem;
}


.grade-moreinfo:hover {
    background: linear-gradient(34deg, rgb(220, 255, 211) 0%, rgb(187, 255, 182) 100%);
    cursor: pointer;
}

.grade-details {
    margin-top: 1rem;
    background-color: white;
    display: none;
    flex-direction: column;
}

.regrade-button {
    height: 3rem;
    cursor: pointer;
    margin-bottom: 5px;
}

.regrade-info {
    display: none;
}

.grade-entry p {
    font-family: 'Raleway';
    font-size: 1rem;
}

.grade-title h2 {
    font-family: 'Raleway';
    font-size: 1.9rem;
    margin: 0;
    padding: 10px 0 10px 0;
}

.grade-value h4 {
    font-family: 'Raleway';
    font-size: 1.1rem;
    margin: 0;
}

.grade-details h2 {
    font-family: 'Raleway';
    font-size: 1.6rem;
    margin-bottom: 0;
}

.submitted-regrade {
    text-align: center;
    font-family: 'Raleway';
    font-size: 2rem;
    margin: 10px 0 20px 0;
}