.title {
    background-color: orange;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 3px;
}

.title h1 {
    font-size: 15vw;
    margin: 2rem 0 0 0;
}

.title h3 {
    font-size: calc(max(2vw, 1rem));
}

.class { 
    width: 80%;
    margin: 20px 10% 20px 10%;
    overflow-x: scroll;
}

.entry {
    height: 40px;
    background-color: red;
    padding: 5px;
    font-size: 1rem;
    width: 100px;
}

table {
    width: 100%;
    table-layout: fixed;
}

input {
    text-align: center;
}

#edit-grades {
    display: none;
}