body {
    overflow-x: hidden;
    width: 100%;
}

.welcome h1 {
    font-size: 5rem;
    padding-top: 3rem;
    padding-left: 3rem;
    color: white;
    margin: 0;
}

.welcome h2 {
    font-size: 2rem;
    color: white;
    padding-left: 4rem;
}

.welcome {
    background: linear-gradient(40deg, rgb(0, 0, 160) 0%, rgb(0, 150, 220) 100%);
    height: 120vh;
}

h3 {
    color: white;
    font-size: 2rem;
}

.rel {
    position: relative;
}

.slant {
    background-color: orange;
    height: fit-content;
    transform: skewY(-2deg) translateY(7vh);
    bottom: 0;
    position: absolute;
    z-index: 20;
    padding-right: 5em;
    padding-left: 5em;
}

.prereq {
    background-color: black;
    height: fit-content;
    transform: skewY(2deg);
    padding-top: 9rem;
    padding-bottom: 3rem;
    padding-right: 5em;
    padding-left: 5em;
}

.prereq h3 {
    color: white;
}