#intro-container {
    display: grid;
    grid-template-columns: 15% 85%;
}

h1 {
    font-size: calc(min(4vw, 40px));
}

p1 p2 {
    font-size: calc(min(3vw, 30px));
}

#intro-tile {
    height: fit-content;
    background: linear-gradient(45deg, rgba(0, 255, 49, 100) 0%, rgba(0, 153, 255, 100) 100%);
    border-radius: 25px 0 0 25px;
}

#prereq-container {
    display: grid;
    grid-template-columns: 15% 50% 35%;
}

#prereq-tile {
    margin-top: 20px;
    padding-right: 40%;
    background-color: aquamarine;
    border-radius: 25px 25px 25px 25px;
}

#syllabus-container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

#syllabus-tile {
    background-color: coral;
    border-radius: 25px 25px 25px 25px;
}

#instructor-container {
    display: grid;
    grid-template-columns: 65% 35%;
}

#anna-tile {
    margin-right: 25px;
    background-color: orchid;
    border-radius: 0 25px 25px 0;
}

#ta-tile {
    margin-right: 25px;
    background-color: green;
    border-radius: 25px 25px 25px 25px;
}

#anna-content {
    display: grid;
    grid-template-columns: 50% 50%;
}

#anna-pic {
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 25px 25px;
}

#ta-list {
    display: grid;
    height: 100% !important;
    grid-template-rows: 25% 25% 25% 25%;
}

.ta-content-tile {
    padding-left: 10px;
}