body {
    background: white;
    margin: 0px;
    }
    
.header {
    display: flex;
    flex-direction: horizontal;
    background-color: orange;
    position: sticky;
    top: 0;
    left: 0;
    width: fit-content;
    padding-bottom: 10px;
    padding-right: 5px;
    border-end-end-radius: 25px;
    z-index: 500;
}
    
.header-element {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
}
    
/* .content {
    display: grid;
} */
    
.pad-element {
    height: 50px;
}
    
.tile {
    /* opacity: 50%; */
    box-shadow: 0px 0px 20px cyan;
}

.tile:hover {
    box-shadow: none;
}

.tile-content {
    padding: 20px;
}

.footer {
    margin-top: 50px;
    padding: 40px;
    background-color: rgb(140,140,140);
    display: grid;
    grid-template-columns: 50% 50%;
}
    