<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./static/images/db.svg">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/account.css">
    <title>Account</title>
  </head>
  <body>
    {% include 'header.html' %}

    <div id='content'>
      <div class="center">
        <div id='profile-pic'>
          <div class='center-tool' id='profile-name'>
            <h1 id='initials'>
              taco
            </h1>
          </div>
        </div>
      </div>
      <div id='all-info'>
        <div class='info'>
        </div>
      </div>
    </div>
    

    {% include 'footer.html' %}
    <script src='./static/js/dropdown.js'></script>
    <script src='./static/js/account.js'></script>
  </body>
</html>