<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./static/images/db.svg">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/calendar.css">
    <title>Calendar</title>
  </head>
  <body>
    {% include 'header.html' %}

    <div class="content">
      <div class="title">
        <h1>
          Calendar
        </h1>
      </div>
      <div class="calendar-cont">
        <svg class="trig" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#2828c8">
          <polygon points="0,0 100,100 100,0">
              
          </polygon>
        </svg>
        <div class="center-tool calendar">
            <iframe src="https://calendar.google.com/calendar/embed?src=f2oogqnfo1q728k3lcbtr4v478%40group.calendar.google.com&amp;ctz=America%2FToronto" style="border: 0" width="800" height="600" frameborder="0" scrolling="no" display="center"></iframe>
        </div>
        <svg class="trig" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#2828c8">
          <polygon points="0,0 100,0, 0,100">
              
          </polygon>
        </svg>
      </div>
    </div>

    {% include 'footer.html' %}
    <script src='./static/js/dropdown.js'></script>
  </body>
</html>