<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./static/images/db.svg">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/feedback.css">
    <title>Feedback</title>
  </head>
  <body>
    {% include 'header.html' %}
    <div class="title">
      <div class="center-tool">
        <h1>
          Feedback
        </h1>
      </div>
      <div class="center-tool">
        <h3>
          See what your students have to say about your course.
        </h3>
      </div>
    </div>

    <div class="feedback" id="feedback">
    </div>

    
    {% include 'footer.html' %}
    <script src='./static/js/dropdown.js'></script>
    <script src='./static/js/feedback.js'></script>
  </body>
</html>