<div class="footer">
    <div class="centre-tool">
      <div class="footer-col">
        <p>
          Developed by Tina Zamiri, Young Chen, and Anabelle Hsiao.
          <br> <br>
        </p>
      </div>
      <div class="footer-col" id="uni-col">
        <p id="uni-p">
          This course is brought to you by the University of Toronto Faculty of Computer Science.
          <br>
          <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">
            <br>Click here to visit our faculty's website.
          </a>
        </p>
      </div>
      <div class="footer-col center-tool">
        <img src="./static/images/ut.svg">
      </div>
    </div>
  </div>