<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./static/images/db.svg">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/regrades.css">
    <link rel="stylesheet" href="./static/css/grades.css">
    <title>Grades</title>
  </head>
  <body>
    {% include 'header.html' %}

    <div class='title'>
      <div class='center-tool'>
        <h1>
          Grades
        </h1>
      </div>

      <div class='center-tool'>
        <h3>
          See how you are doing in this course.
        </h3>
      </div>
    </div>

    <div class='grades'>

    </div>


    {% include 'footer.html' %}
    <script src='./static/js/dropdown.js'></script>
    <script src='./static/js/grades.js'></script>
  </body>
</html>