<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./static/images/db.svg">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/grades.css">
    <title>CSCB20</title>
  </head>
  <body>
    <div class="header-container">
      <div class="trigger">
        <div class="trigger-element">
            <img src="./static/images/Hamburger_icon_white.svg">
            &nbspCSCB20
        </div>
      </div>
      <div class="header" id='header'>
        <div class='dropdown-titles'>
          <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='cscb20'>
            Course
          </p>
          <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='resources'>
            Resources
          </p>
          <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='personal'>
            Personal
          </p>
        </div>
      </div>
    </div>
    
    <div id='dropdowns'>
      <div class='dropdown-content' id='cscb20-drop'>
        <a class="header-element dropdown-element" href="index.html">Home</a>
        <a class="header-element dropdown-element" href="weekly-materials.html">Lectures & Labs</a>
        <a class="header-element dropdown-element" href="assignments.html">Assignments</a>
        <a class="header-element dropdown-element" href="assignments.html#tests">Tests</a>
        <a class="header-element dropdown-element" href="resources.html">Resources</a>
        <a class="header-element dropdown-element" href="calendar.html">Calendar</a>
      </div>
      <div class='dropdown-content' id='resources-drop'>
        <a class="header-element dropdown-element" href="index.html#syllabus">Syllabus</a>
        <a class="header-element dropdown-element" href="resources.html#piazza">Piazza</a>
        <a class="header-element dropdown-element" href="resources.html#markus">MarkUs</a>
        <a class="header-element dropdown-element" href="index.html#instructors">Course Team</a>
        <a class="header-element dropdown-element" href="resources.html#feedback">Feedback</a>
      </div>
      <div class='dropdown-content' id='personal-drop'>
        <a class="header-element dropdown-element" href="grades.html">Grades</a>
        <a class="header-element dropdown-element" href="regrades.html">Regrades</a>
        <a class="header-element dropdown-element" href="feedback.html">Feedback</a>
        <a class="header-element dropdown-element" href="students.html">Students</a>
        <a class="header-element dropdown-element" href="instructor.html">Instructor Centre</a>
        <a class="header-element dropdown-element" href="account.html">Account</a>
      </div>
    </div>
    <!-- https://commons.wikimedia.org/wiki/File:Hamburger_icon_white.svg -->



    <div class='title'>
      <div class='center-tool'>
        <h1>
          Grades
        </h1>
      </div>

      <div class='center-tool'>
        <h3>
          See how you are doing in this course.
        </h3>
      </div>
    </div>

    <div class='grades'>

    </div>


    <div class="footer">
      <div class="centre-tool">
        <div class="footer-col">
          <p>
            Developed by Tina Zamiri, Young Chen, and Anabelle Hsiao.
            <br> <br>
          </p>
        </div>
        <div class="footer-col" id="uni-col">
          <p id="uni-p">
            This course is brought to you by the University of Toronto Faculty of Computer Science.
            <br>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">
              <br>Click here to visit our faculty's website.
            </a>
          </p>
        </div>
        <div class="footer-col center-tool">
          <img src="./static/images/ut.svg">
        </div>
      </div>
    </div>
    
    <script src='./static/js/dropdown.js'></script>
    <script src='./static/js/grades.js'></script>
  </body>
</html>