<div class="header-container">
    <div class="trigger">
      <div class="trigger-element">
          <img src="./static/images/Hamburger_icon_white.svg">
          &nbspCSCB20
      </div>
    </div>
    <div class="header" id='header'>
      <div class='dropdown-titles'>
        <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='cscb20'>
          Course
        </p>
        <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='resources'>
          Resources
        </p>
        <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='personal'>
          Personal
        </p>
      </div>
    </div>
  </div>
  
  <div id='dropdowns'>
    <div class='dropdown-content' id='cscb20-drop'>
      <a class="header-element dropdown-element" href="index.html">Home</a>
      <a class="header-element dropdown-element" href="weekly-materials.html">Lectures & Labs</a>
      <a class="header-element dropdown-element" href="assignments.html">Assignments</a>
      <a class="header-element dropdown-element" href="assignments.html#tests">Tests</a>
      <a class="header-element dropdown-element" href="resources.html">Resources</a>
      <a class="header-element dropdown-element" href="calendar.html">Calendar</a>
    </div>
    <div class='dropdown-content' id='resources-drop'>
      <a class="header-element dropdown-element" href="index.html#syllabus">Syllabus</a>
      <a class="header-element dropdown-element" href="https://piazza.com/utoronto.ca/winter2017/cscb20">Piazza</a>
      <a class="header-element dropdown-element" href="https://markus.utsc.utoronto.ca/cscb20w22/">MarkUs</a>
      <a class="header-element dropdown-element" href="index.html#instructors">Course Team</a>
    </div>
    <div class='dropdown-content' id='personal-drop'>

    </div>
  </div>