<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./static/images/db.svg">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/content.css">
    <title>CSCB20</title>
  </head>
  <body>

    <div class='sidebar-cont'>


      <div class='sidebar'>
        <div class='sidebar-items'>
          <a class="sidebar-element" href="index.html">Home</a>
          <a class="sidebar-element" href="weekly-materials.html">Lectures & Labs</a>
          <a class="sidebar-element" href="assignments.html">Assignments</a>
          <a class="sidebar-element" href="assignments.html#tests">Tests</a>
          <a class="sidebar-element" href="resources.html">Resources</a>
          <a class="sidebar-element" href="calendar.html">Calendar</a>
          <a class="sidebar-element" href="index.html#syllabus">Syllabus</a>
          <a class="sidebar-element" href="resources.html#piazza">Piazza</a>
          <a class="sidebar-element" href="resources.html#markus">MarkUs</a>
          <a class="sidebar-element" href="index.html#instructors">Course Team</a>
          <a class="sidebar-element" href="resources.html#feedback">Feedback</a>
        </div>
      </div>



      <div class='content-cont'>
        <div id='welcome-cont'>
          <div class='tile center' id='welcome'>
            <div class='center-tool'>
              <h1>
                Welcome to CSCB20!
              </h1>
            </div>
          </div>
          <div class='tile' id='sign-in'>
            <div class='center-tool'>
              <h1>
                Sign in!
              </h1>
            </div>
            <div class='center-tool'>
              <form id='login'>
                <div class='center-tool'>
                  <h4>
                    Username
                  </h4>
                </div>
                <input type='text'>
                <div class='center-tool'>
                  <h4>
                    Password
                  </h4>
                </div>
                <input type='text'>
              </form>
            </div>
          </div>
        </div>

        <div id='course-info' class='tile'>
          <div class='center-tool'>
            <h1>
              Course Information
            </h1>
          </div>

          <div class='center-tool tile subtile' id='desc'>
            <div class='center-tool' id='description'>
              <h2>
                description
              </h2>
            </div>
            <div class='center-tool'>
              <p>
                taco taco taco
              </p>
            </div>
          </div>

          <div class='center-tool tile subtile' id='desc'>
            <div class='center-tool' id='description'>
              <h2>
                syllabus
              </h2>
            </div>
            <div class='center-tool'>
              <p>
                taco taco taco
              </p>
            </div>
          </div>
        </div>

        <div id='instructors' class='tile'>
          <div class='center-tool'>
            <h1>
              Instructors
            </h1>
          </div>

          <div id='instr-cont'>

            <div class='tile inst-tile'>
              <h3>
                Taco Paco
              </h3>
              <p>
                TACO PACO 
                <br>
                PAOCAOC
              </p>
              <img src='./static/images/Anna_Bretscher.jpg' class='instr-img'>
            </div>


            <div class='tile inst-tile'>
              <h3>
                Taco Paco
              </h3>
              <p>
                TACO PACO 
                <br>
                PAOCAOC
              </p>
              <img src='./static/images/Anna_Bretscher.jpg' class='instr-img'>
            </div>


            <div class='tile inst-tile'>
              <h3>
                Taco Paco
              </h3>
              <p>
                TACO PACO 
                <br>
                PAOCAOC
              </p>
              <img src='./static/images/Anna_Bretscher.jpg' class='instr-img'>
            </div>



            <div class='tile inst-tile'>
              <h3>
                Taco Paco
              </h3>
              <p>
                TACO PACO 
                <br>
                PAOCAOC
              </p>
              <img src='./static/images/Anna_Bretscher.jpg' class='instr-img'>
            </div>



            <div class='tile inst-tile'>
              <h3>
                Taco Paco
              </h3>
              <p>
                TACO PACO 
                <br>
                PAOCAOC
              </p>
              <img src='./static/images/Anna_Bretscher.jpg' class='instr-img'>
            </div>
          </div>
        </div>

        <div class="footer">
          <div class="centre-tool">
            <div class="footer-col">
              <p>
                Developed by Tina Zamiri, Young Chen, and Anabelle Hsiao.
                <br> <br>
              </p>
            </div>
            <div class="footer-col" id="uni-col">
              <p id="uni-p">
                This course is brought to you by the University of Toronto Faculty of Computer Science.
                <br>
                <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">
                  <br>Click here to visit our faculty's website.
                </a>
              </p>
            </div>
            <div class="footer-col center-tool">
              <img src="./static/images/ut.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>