<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./static/images/db.svg">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/content.css">
    <title>CSCB20</title>
  </head>
  <body>
    <div class="header-container">
      <div class="trigger">
        <div class="trigger-element">
            <img src="./static/images/Hamburger_icon_white.svg">
            &nbspCSCB20
        </div>
      </div>
      <div class="header" id='header'>
        <div class='dropdown-titles'>
          <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='cscb20'>
            Course
          </p>
          <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='resources'>
            Resources
          </p>
          <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='personal'>
            Personal
          </p>
        </div>
      </div>
    </div>
    
    <div id='dropdowns'>
      <div class='dropdown-content' id='cscb20-drop'>
        <a class="header-element dropdown-element" href="index.html">Home</a>
        <a class="header-element dropdown-element" href="weekly-materials.html">Lectures & Labs</a>
        <a class="header-element dropdown-element" href="assignments.html">Assignments</a>
        <a class="header-element dropdown-element" href="assignments.html#tests">Tests</a>
        <a class="header-element dropdown-element" href="resources.html">Resources</a>
        <a class="header-element dropdown-element" href="calendar.html">Calendar</a>
      </div>
      <div class='dropdown-content' id='resources-drop'>
        <a class="header-element dropdown-element" href="index.html#syllabus">Syllabus</a>
        <a class="header-element dropdown-element" href="resources.html#piazza">Piazza</a>
        <a class="header-element dropdown-element" href="resources.html#markus">MarkUs</a>
        <a class="header-element dropdown-element" href="index.html#instructors">Course Team</a>
        <a class="header-element dropdown-element" href="resources.html#feedback">Feedback</a>
      </div>
      <div class='dropdown-content' id='personal-drop'>

      </div>
    </div>

    
    <!-- https://commons.wikimedia.org/wiki/File:Hamburger_icon_white.svg -->

    <div class="info">
    <div class="welcome">
      <div id="welc-grid">
        <div>
          <h1>Welcome to CSCB20!</h1>
          <h2>Explore the wonders of web development and databases</h2>
        </div>
        <div id="welc-spacer">

        </div>
      </div>
    </div>

    <!-- https://en.freejpg.com.ar/stockphotos/premium/1092965000/digital-transformation-concept -->


    <div class="rel">
      <slant class="slant">
        <h3>
          This course is a practical introduction to databases and Web app development.
          <br> <br>
          We will learn about databases: the terminology and applications; creating, querying and updating databases; the entity-relationship model for database design.
          <br> <br>
          Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.
        </h3>
      </slant>
    </div>


    <div class="rel">
      <slant class="slant prereq" >
        <h3>
          Prerequisites: Some experience with programming in an imperative language such as Python, Java or C.
          <br> <br>
          Exclusions: This course may not be taken after - or concurrently with - any C- or D-level CSC course.
        </h3>
      </slant>
    </div>


    <div class="syllabus" id="syllabus">
      <div class="syllabus-grid">
        <div>
          <h1>
            Syllabus
          </h1>
          <h2>
            Information about your course.
          </h2>
        </div>
        <div id="syllabus-right">
          <p>
            Instructor: Anna Brestcher
            <br><br>
            Email: bretscher@utsc.toronto.edu
            <br><br>
            Phone: (416) 208-4745
            <br><br>
            Office: IC493
            <br><br>
            Recommended Resources:
            <br>A basic tutorial on MySQL: http://www.mysqltutorial.org.<br>
            Other online resources listed on the course website.

            <br><br>
            Evaluation:
            <br><br>
            3 Assignments: 45% (15% each)
            <br>
            Midterm: 15%
            <br>
            Final exam: 40%
            <br><br>
            Topics:
            <br>
            Databases:
            <br>
            • Terminology and applications<br>
            • Creating, querying and updating databases<br>
            • The E-R model for database design<br>
            <br>
            Web Applications:<br>
            • Static and Interactive Documents<br>
            • Web servers and dynamic server-generated content;<br>
            • Web application development and integration with databases.<br>
            <br>
            Tutorials: There are weekly tutorials . You are expected to attend the tutorials and participate.
            <br><br>
            Calendar: The calendar on the course website will indicate important due dates for the year
            <br><br>
            Assignments: Assignment handouts will be available on the course web site. All assignments are
            submitted electronically and will be graded for correctness and style.
            <br><br>
            Academic Offenses: All of the work you submit must be your own and your work must not be
            submitted by someone else. Plagiarism is academic fraud and is taken seriously. Please read the
            Rules and Regulations from the U of T Calendar (especially the Code of Behaviour on Academic
            Matters).
            <br><br>
            Getting Help: Besides attending lectures, there are several ways to get help in CSCB20H:
            <br>
            • Tutorials: Tutorials are a great way for you to get some hands-on practice at programming.
            <br>
            • Office Hours: Stop by office hours to ask questions or to hear questions asked by other
            students. This is a great way to learn.
            <br>
            • Discussion Board: Piazza - please make use of your classmates and instructors who will
            monitor the discussion board and help answer your questions.
            <br>
            • Email: If you are having trouble with the course material or if you need extra help, please
            do not hesitate to contact me. I will answer as soon as possible.
            <br><br>
            And that's it for your syllabus! You can find the pdf version
            <a href="./static/pdf/syllabus.pdf">here.</a>
          </p>
        </div>
      </div>
    </div>

    <!-- https://commons.wikimedia.org/wiki/File:Profile_avatar_placeholder_large.png -->

    <div class="team" id="instructors">
      <centre>
        <h1>
          Meet your Instructors!
        </h1>
      </centre>

      <div id="inst-list">

        <inst>
          <centre>
            <h3>
              Purva Gawde
            </h3>
          </centre>
          <centre>
            <h4>
              CLTA Assistant Professor, Teaching Stream
              <br>
              (647) 601-4658
              <br>
              IC484
              <br>
              purva.gawde@utoronto.ca
            </h4>
          </centre>
          <br>
          <centre>
            <img src="./static/images/Purva Gawde_photo 1.jpg">
          </centre>
        </inst>


        <inst>
          <centre>
            <h3>
              Rick Lan
            </h3>
          </centre>
          <centre>
            <h4>
              CSCB20 TA
              <br>
              Status unknown<br>
              (123) 456-6789<br>
              Location unknown<br>
              Email unknown<br>

            </h4>
          </centre>
          <br>
          <centre>
            <img src="./static/images/Profile_avatar_placeholder_large.png">
          </centre>
        </inst>


        <inst>
          <centre>
            <h3>
              Daniel Zee
              
            </h3>
          </centre>
          <centre>
            <h4>
              CSCB20 TA
              <br>
              Status unknown<br>
              (123) 456-6789<br>
              Location unknown<br>
              Email unknown<br>
            </h4>
          </centre>
          <br>
          <centre>
            <img src="./static/images/Profile_avatar_placeholder_large.png">
          </centre>
        </inst>


        <inst>
          <centre>
            <h3>
              Vidya Ananda
            </h3>
          </centre>
          <centre>
            <h4>
              CSCB20 TA
              <br>
              Status unknown<br>
              (123) 456-6789<br>
              Location unknown<br>
              Email unknown<br>
            </h4>
          </centre>
          <br>
          <centre>
            <img src="./static/images/Profile_avatar_placeholder_large.png">
          </centre>
        </inst>


        <inst>
          <centre>
            <h3>
              Anna Brestcher
            </h3>

          </centre>
          <centre>
            <h4>
              Associate Professor, Teaching Stream
              <br>
              (416) 208-4745
              <br>
              IC493
              <br>
              anna.bretscher@utoronto.ca
            </h4>
          </centre>
          <br>
          <centre>
            <img src="./static/images/Anna_Bretscher.jpg">
          </centre>
        </inst>
      </div>
    </div>
  </div>

    <div class="footer">
      <div class="centre-tool">
        <div class="footer-col">
          <p>
            Developed by Tina Zamiri, Young Chen, and Anabelle Hsiao.
            <br> <br>
          </p>
        </div>
        <div class="footer-col" id="uni-col">
          <p id="uni-p">
            This course is brought to you by the University of Toronto Faculty of Computer Science.
            <br>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">
              <br>Click here to visit our faculty's website.
            </a>
          </p>
        </div>
        <div class="footer-col center-tool">
          <img src="./static/images/ut.svg">
        </div>
      </div>
    </div>
    
    <script src='./static/js/dropdown.js'></script>
  </body>
</html>