<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./static/images/db.svg">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/instructor.css">
    <title>Instructor Center</title>
  </head>
  <body>
    {% include 'header.html' %}

    <div id="title">
        <div class="center-tool">
            <h1>
                Instructor Centre
            </h1>
        </div>
        <div class="center-tool">
            <h2>
                Some useful resources to assist you in this course.
            </h2>
        </div>
    </div>
    
    <div class='add-cont'>
        <div id='add-assignment'>
            <h2>
                Create new assessment
            </h2>
            <form method='post' action='/api/assignment' id="assignment-form">
                <h3>
                    Assessment Name
                </h3>
                <input type='text' name="Name">
                <h3>
                    Details
                </h3>
                <textarea name='Description' form="assignment-form"></textarea>
                <h3>
                    Instructor
                </h3>
                <input type='text' name="Instructor" readonly="readonly" id="instr">
                <input type="submit" value="Create" id="submit">
            </form>
        </div>
    </div>

    
    {% include 'footer.html' %}
    <script src='./static/js/dropdown.js'></script>
    <script src='./static/js/instructor.js'></script>
  </body>
</html>