<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./static/images/db.svg">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/login.css">
    <title>Login to CSCB20</title>
  </head>
  <body>
    <div class="header-container">
      <div class="trigger">
        <div class="trigger-element">
            <img src="./static/images/Hamburger_icon_white.svg">
            &nbspCSCB20
        </div>
      </div>
      <div class="header" id='header'>
        <div class='dropdown-titles'>
          <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='cscb20'>
            Welcome To CSCB20!
          </p>
        </div>
      </div>
    </div>
    
    <div id='dropdowns'>
      <div class='dropdown-content' id='cscb20-drop'>
        <a class="header-element dropdown-element" href="index.html">Login</a>
        <a class="header-element dropdown-element" href="register.html">Register</a>
      </div>
    </div>
    <!-- https://commons.wikimedia.org/wiki/File:Hamburger_icon_white.svg -->



    <div class="login-cont">
        <form method="post" action="/login" id="login-form">
          <h3>
              UtorID
          </h3>
          <input type="text" name='UtorID' required>
            <h3>
              Password
            </h3>
          <input type="password" name="Password" required>
        </form>
        <div class="center-tool">
          <h3 id="notify">
            Taco
          </h3>
        </div>
        <div class="center-tool">
          <button class="submit" id="submit" onclick="submit(this)">
            Login
          </button>
        </div>
        <div class="center-tool">
          <a href="register.html">
            <button id="switch-button">
              Don't have an account?<br>Register here!
            </button>
          </a>
        </div>
    </div>


    {% include 'footer.html' %}
    <script src='./static/js/dropdown.js'></script>
    <script src='./static/js/login.js'></script>
  </body>
</html>