<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./static/images/db.svg">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/login.css">
    <title>Register</title>
  </head>
  <body>
    <div class="header-container">
      <div class="trigger">
        <div class="trigger-element">
            <img src="./static/images/Hamburger_icon_white.svg">
            &nbspCSCB20
        </div>
      </div>
      <div class="header" id='header'>
        <div class='dropdown-titles'>
          <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='cscb20'>
            Welcome To CSCB20!
          </p>
        </div>
      </div>
    </div>
    
    <div id='dropdowns'>
      <div class='dropdown-content' id='cscb20-drop'>
        <a class="header-element dropdown-element" href="index.html">Login</a>
        <a class="header-element dropdown-element" href="register.html">Register</a>
      </div>
    </div>
    <!-- https://commons.wikimedia.org/wiki/File:Hamburger_icon_white.svg -->


    <div class="center-tool">
      <h2 id="failed">
        {{ message }}
      </h2>
    </div>

    <div class="login-cont">
        <form method="post" action="/register">
            <h3>
              UtorID
            </h3>
            <input type="text" name='UtorID' required>
            <h3>
              First Name
            </h3>
            <input type="text" name="First_Name" required>
            <h3>
              Middle Name
            </h3>
            <input type="text" name="Middle_Name">
            <h3>
              Last Name
            </h3>
            <input type="text" name="Last_Name">
            <h3>
              Status (Student or Instructor)
            </h3>
            <select name="Status" onchange="setInstructor(this)">
                <option value="Student">Student</option>
                <option value="Instructor">Instructor</option>
            </select>
            <h3 id="instructor-select">
              Select your instructor
            </h3>
            <select name="Instructor" id="instructors">
            </select>
            <h3>
              Password
            </h3>
            <input type="password" name="Password">
            <input class='submit' type="submit" value="Register">
        </form>

        <div class="center-tool">
            <a href="login.html">
              <button id="switch-button">
                Already have an account? Login here!
              </button>
            </a>
          </div>
    </div>


    {% include 'footer.html' %}
    <script src='./static/js/dropdown.js'></script>
    <script src='./static/js/login.js'></script>
  </body>
</html>