<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./static/images/db.svg">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/resources.css">
    <title>Resources</title>
  </head>
  <body>
    <div class='sidebar-cont'>

      
        <div class='sidebar'>
          <div class='sidebar-items'>
            <a class="sidebar-element" href="index.html">Home</a>
            <a class="sidebar-element" href="weekly-materials.html">Lectures & Labs</a>
            <a class="sidebar-element" href="assignments.html">Assignments</a>
            <a class="sidebar-element" href="assignments.html#tests">Tests</a>
            <a class="sidebar-element" href="resources.html">Resources</a>
            <a class="sidebar-element" href="calendar.html">Calendar</a>
            <a class="sidebar-element" href="index.html#syllabus">Syllabus</a>
            <a class="sidebar-element" href="resources.html#piazza">Piazza</a>
            <a class="sidebar-element" href="resources.html#markus">MarkUs</a>
            <a class="sidebar-element" href="index.html#instructors">Course Team</a>
            <a class="sidebar-element" href="resources.html#feedback">Feedback</a>
          </div>
        </div>
  
  
  
        <div class='content-cont'>
            <div class='tile'>
                <div class='center-tool'>
                    <h1>
                        Resources
                    </h1>
                </div>
            </div>
            
            <div class='tile'>
                <div class='res-name'>
                    <div class='center-tool item'>
                        <h2>
                            Links
                        </h2>
                    </div>
                </div>
                <div class='center-tool'>
                    <p>
                        Taco
                    </p>
                </div>
            </div>

            <div class='tile'>
                <div class='res-name'>
                    <div class='center-tool item'>
                        <h2>
                            Links
                        </h2>
                    </div>
                </div>
                <div class='center-tool'>
                    <p>
                        Taco
                    </p>
                </div>
            </div>


            <div class='tile'>
                <div class='res-name'>
                    <div class='center-tool item'>
                        <h2>
                            Links
                        </h2>
                    </div>
                </div>
                <div class='center-tool'>
                    <p>
                        Taco
                    </p>
                </div>
            </div>


            <div class="footer">
                <div class="centre-tool">
                <div class="footer-col">
                    <p>
                    Developed by Tina Zamiri, Young Chen, and Anabelle Hsiao.
                    <br> <br>
                    </p>
                </div>
                <div class="footer-col" id="uni-col">
                    <p id="uni-p">
                    This course is brought to you by the University of Toronto Faculty of Computer Science.
                    <br>
                    <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">
                        <br>Click here to visit our faculty's website.
                    </a>
                    </p>
                </div>
                <div class="footer-col center-tool">
                    <img src="./static/images/ut.svg">
                </div>
            </div>
        </div>
    </div>
  </body>
</html>