<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./static/images/db.svg">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/resources.css">
    <title>Resources</title>
  </head>
  <body>
    <div class="header-container">
        <div class="trigger">
          <div class="trigger-element">
              <img src="./static/images/Hamburger_icon_white.svg">
              &nbspCSCB20
          </div>
        </div>
        <div class="header" id='header'>
          <div class='dropdown-titles'>
            <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='cscb20'>
              Course
            </p>
            <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='resources'>
              Resources
            </p>
            <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='personal'>
              Personal
            </p>
          </div>
        </div>
      </div>
      
      <div id='dropdowns'>
        <div class='dropdown-content' id='cscb20-drop'>
          <a class="header-element dropdown-element" href="index.html">Home</a>
          <a class="header-element dropdown-element" href="weekly-materials.html">Lectures & Labs</a>
          <a class="header-element dropdown-element" href="assignments.html">Assignments</a>
          <a class="header-element dropdown-element" href="assignments.html#tests">Tests</a>
          <a class="header-element dropdown-element" href="resources.html">Resources</a>
          <a class="header-element dropdown-element" href="calendar.html">Calendar</a>
        </div>
        <div class='dropdown-content' id='resources-drop'>
          <a class="header-element dropdown-element" href="index.html#syllabus">Syllabus</a>
          <a class="header-element dropdown-element" href="resources.html#piazza">Piazza</a>
          <a class="header-element dropdown-element" href="resources.html#markus">MarkUs</a>
          <a class="header-element dropdown-element" href="index.html#instructors">Course Team</a>
          <a class="header-element dropdown-element" href="resources.html#feedback">Feedback</a>
        </div>
        <div class='dropdown-content' id='personal-drop'>
          <a class="header-element dropdown-element" href="grades.html">Grades</a>
          <a class="header-element dropdown-element" href="regrades.html">Regrades</a>
          <a class="header-element dropdown-element" href="feedback.html">Feedback</a>
          <a class="header-element dropdown-element" href="students.html">Students</a>
          <a class="header-element dropdown-element" href="instructor.html">Instructor Centre</a>
          <a class="header-element dropdown-element" href="account.html">Account</a>
        </div>
      </div>

    <div id="title">
        <div class="center-tool">
            <h1>
                Resources
            </h1>
        </div>
        <div class="center-tool">
            <h2>
                Some useful resources to assist you in this course.
            </h2>
        </div>
    </div>

    <div class="res">
        <div class="res-info">
            <div class="center-text">
                <div class="center-tool">
                    <h4>
                        Beginner MySQL Tutorial
                    </h4>
                </div>
                <div class="center-tool">
                    <br>
                </div>
                <div class="center-tool">
                    <a href="https://code.tutsplus.com/articles/sql-for-beginners--net-8200">
                        Brief yourself on MySQL by clicking here
                    </a>
                </div>

            </div>
        </div>
        <div class="res-curve">
            <svg class="curve" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#6b03fc">
                <path d="M 0,0 a 50,100 0 0,0 100,0"></path>
            </svg>
        </div>
    </div>


    <div class="res">
        <div class="res-info">
            <div class="center-text">
                <div class="center-tool">
                    <h4>
                        Email Communication
                    </h4>
                </div>
                <div class="center-tool">
                    <br>
                </div>
                <div class="center-tool">
                    <h5>
                        Questions regarding the course material, assignments, midterm, etc. should be posted on the bulletin board.
                        <br><br>
                        Questions about the assignment which you feel you cannot formulate without revealing your solution (should be very rare!), as well as questions and concerns regarding your personal matters should be directed to the instructor.
                    </h5>
                </div>

            </div>
        </div>
        <div class="res-curve">
            <svg class="curve" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#6b03fc">
                <path d="M 0,0 a 50,100 0 0,0 100,0"></path>
            </svg>
        </div>
    </div>

    <div class="res" id="piazza">
        <div class="res-info">
            <div class="center-text">
                <div class="center-tool">
                    <h4>
                        Piazza
                    </h4>
                </div>
                <div class="center-tool">
                    <br>
                </div>
                <div class="center-tool">
                    <div class="center-tool">
                        <a href="https://piazza.com/utoronto.ca/winter2017/cscb20">
                            Click here to join the Piazza forum for our course.
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="res-curve">
            <svg class="curve" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#6b03fc">
                <path d="M 0,0 a 50,100 0 0,0 100,0"></path>
            </svg>
        </div>
    </div>

    <div class="res" id="markus">
        <div class="res-info">
            <div class="center-text">
                <div class="center-tool">
                    <h4>
                        MarkUs
                    </h4>
                </div>
                <div class="center-tool">
                    <br>
                </div>
                <div class="center-tool">
                    <div class="center-tool">
                        <a href="https://markus.utsc.utoronto.ca/cscb20w22/">
                            Click here to login to MarkUs for this class.
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="res-curve">
            <svg class="curve" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#6b03fc">
                <path d="M 0,0 a 50,100 0 0,0 100,0"></path>
            </svg>
        </div>
    </div>

    <div class="res">
        <div class="res-info">
            <div class="center-text">
                <div class="center-tool">
                    <h4>
                        MatLab Login
                    </h4>
                </div>
                <div class="center-tool">
                    <br>
                </div>
                <div class="center-tool">
                    <h5>
                        Mac OS comes with the application "terminal". 
                        <br>Simple click on it to run. Login to mathlab by typing
                        <br><br>
                        ssh utorid@mathlab.utsc.utoronto.ca.
                        <br>Enter your password.
                        <br><br>
                        Windows - you will need a SSH client. 
                        <br>PuTTY is a good free one. You can download and install here: PuTTY.
                        <br>Use the same command as above to login to mathlab:
                        <br><br>ssh utorid@mathlab.utsc.utoronto.ca.
                    </h5>
                </div>

            </div>
        </div>
        <div class="res-curve">
            <svg class="curve" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#6b03fc">
                <path d="M 0,0 a 50,100 0 0,0 100,0"></path>
            </svg>
        </div>
    </div>


    <div class="res" id="feedback">
        <div class="res-info">
            <div class="center-text">
                <div class="center-tool">
                    <h4>
                        Your feedback is appreciated!
                    </h4>
                </div>
                <div class="center-tool">
                    <br>
                </div>
                <div class="center-tool">
                    <div>
                        <div class="center-tool">
                            <h6>
                                Feedback title
                            </h6>
                        </div>
                        <br>
                        <div class="center-tool">
                            <textarea rows="1" cols="80"></textarea>
                        </div>
                        <br>
                        <div class="center-tool">
                            <h6>
                                Feedback content
                            </h6>
                        </div>
                        <br>
                        <div class="center-tool">
                            <textarea rows="20" cols="80"></textarea>
                        </div>
                        <div class="center-tool">
                            <h6>
                                Your contact information (optional)
                            </h6>
                        </div>
                        <div class="center-tool">
                            <textarea rows="1" cols="80"></textarea>
                        </div>
                        <div class="center-tool">
                            <button>
                                Submit
                            </button>
                        </div>
                        <div id="spacer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="centre-tool">
          <div class="footer-col">
            <p>
              Developed by Tina Zamiri, Young Chen, and Anabelle Hsiao.
              <br> <br>
            </p>
          </div>
          <div class="footer-col" id="uni-col">
            <p id="uni-p">
              This course is brought to you by the University of Toronto Faculty of Computer Science.
              <br>
              <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">
                <br>Click here to visit our faculty's website.
              </a>
            </p>
          </div>
          <div class="footer-col center-tool">
            <img src="./static/images/ut.svg">
          </div>
        </div>
      </div>
      <script src='./static/js/dropdown.js'></script>
  </body>
</html>