<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./static/images/db.svg">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/materials.css">
    <title>Weekly Materials</title>
  </head>
  <body>
    <div class="header-container">
      <div class="trigger">
        <div class="trigger-element">
            <img src="./static/images/Hamburger_icon_white.svg">
            &nbspCSCB20
        </div>
      </div>
      <div class="header" id='header'>
        <div class='dropdown-titles'>
          <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='cscb20'>
            Course
          </p>
          <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='resources'>
            Resources
          </p>
          <p class='header-element dropdown-title' onclick='dropdownShow(this)' id='personal'>
            Personal
          </p>
        </div>
      </div>
    </div>
    
    <div id='dropdowns'>
      <div class='dropdown-content' id='cscb20-drop'>
        <a class="header-element dropdown-element" href="index.html">Home</a>
        <a class="header-element dropdown-element" href="weekly-materials.html">Lectures & Labs</a>
        <a class="header-element dropdown-element" href="assignments.html">Assignments</a>
        <a class="header-element dropdown-element" href="assignments.html#tests">Tests</a>
        <a class="header-element dropdown-element" href="resources.html">Resources</a>
        <a class="header-element dropdown-element" href="calendar.html">Calendar</a>
      </div>
      <div class='dropdown-content' id='resources-drop'>
        <a class="header-element dropdown-element" href="index.html#syllabus">Syllabus</a>
        <a class="header-element dropdown-element" href="resources.html#piazza">Piazza</a>
        <a class="header-element dropdown-element" href="resources.html#markus">MarkUs</a>
        <a class="header-element dropdown-element" href="index.html#instructors">Course Team</a>
        <a class="header-element dropdown-element" href="resources.html#feedback">Feedback</a>
      </div>
      <div class='dropdown-content' id='personal-drop'>

      </div>
    </div>

    
    <div class="title">
        <div class="center-tool">
            <h1>
              Weekly Materials
            </h1>
        </div>
        <div class="center-tool">
          <h2>
            Your weekly lecture and tutorial notes.
          </h2>
        </div>
    </div>



    <div class="week">
      <div class="name">
        <div class="center-tool">
          <h1>
            Week 1
          </h1>
        </div>
        <div class="center-tool">
          <h3>
            Introduction and Databases Background
          </h3>
        </div>
      </div>
      <div class="content">
        <div class="center-tool">
          <h2>
            Lecture
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Slides
          </a>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Handout
          </a>
        </div>
        <div class="center-tool">
          <h2>
            Tutorial
          </h2>
        </div>
        <div class="center-tool">
          <p>
            Tutorials begin week 2.
          </p>
        </div>
      </div>
    </div>



    <div class="week">
      <div class="name">
        <div class="center-tool">
          <h1>
            Week 2
          </h1>
        </div>
        <div class="center-tool">
          <h3>
            
          </h3>
        </div>
      </div>
      <div class="content">
        <div class="center-tool">
          <h2>
            Lecture
          </h2>
        </div>
        <div class="center-tool">
          <p>
            None!
          </p>
        </div>
        <div class="center-tool">
          <h2>
            Tutorial
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Python, Command line
          </a>
        </div>
      </div>
    </div>



    <div class="week">
      <div class="name">
        <div class="center-tool">
          <h1>
            Week 3
          </h1>
        </div>
        <div class="center-tool">
          <h3>
            Schema Diagrams and Relational Algebra	
          </h3>
        </div>
      </div>
      <div class="content">
        <div class="center-tool">
          <h2>
            Lecture
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Slides
          </a>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Worksheet
          </a>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Solutions
          </a>
        </div>
        <div class="center-tool">
          <h2>
            Tutorial
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Handout
          </a>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 university.sql
          </a>
        </div>
      </div>
    </div>


    <div class="week">
      <div class="name">
        <div class="center-tool">
          <h1>
            Week 4
          </h1>
        </div>
        <div class="center-tool">
          <h3>
            SQL and MySQL
          </h3>
        </div>
      </div>
      <div class="content">
        <div class="center-tool">
          <h2>
            Lecture
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Slides
          </a>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 MySQL Worksheet
          </a>
        </div>
        <div class="center-tool">
          <h2>
            Tutorial
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Handout
          </a>
        </div>
      </div>
    </div>



    <div class="week">
      <div class="name">
        <div class="center-tool">
          <h1>
            Week 5
          </h1>
        </div>
        <div class="center-tool">
          <h3>
            MySQL Queries, Creating and Editing Tables	
          </h3>
        </div>
      </div>
      <div class="content">
        <div class="center-tool">
          <h2>
            Lecture
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Slides
          </a>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 More MySQL Worksheet
          </a>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Solutions
          </a>
        </div>
        <div class="center-tool">
          <h2>
            Tutorial
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Handout
          </a>
        </div>
      </div>
    </div>



    <div class="week">
      <div class="name">
        <div class="center-tool">
          <h1>
            Week 6
          </h1>
        </div>
        <div class="center-tool">
          <h3>
            MySQL Outer Joins, Views, NULL, string functions, HTML
          </h3>
        </div>
      </div>
      <div class="content">
        <div class="center-tool">
          <h2>
            Lecture
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Slides
          </a>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 MySQL Views Worksheet
          </a>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Solutions
          </a>
        </div>
        <div class="center-tool">
          <h2>
            Tutorial
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Handout
          </a>
        </div>
      </div>
    </div>



    <div class="week">
      <div class="name">
        <div class="center-tool">
          <h1>
            Week 7
          </h1>
        </div>
        <div class="center-tool">
          <h3>
            HTML, CSS	
          </h3>
        </div>
      </div>
      <div class="content">
        <div class="center-tool">
          <h2>
            Lecture
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 CSS Slides
          </a>
        </div>
        <div class="center-tool">
          <h2>
            Tutorial
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Handout
          </a>
        </div>
      </div>
    </div>



    <div class="week">
      <div class="name">
        <div class="center-tool">
          <h1>
            Week 8
          </h1>
        </div>
        <div class="center-tool">
          <h3>
            PHP
          </h3>
        </div>
      </div>
      <div class="content">
        <div class="center-tool">
          <h2>
            Lecture
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Slides
          </a>
        </div>
        <div class="center-tool">
          <h2>
            Tutorial
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Handout
          </a>
        </div>
      </div>
    </div>



    <div class="week">
      <div class="name">
        <div class="center-tool">
          <h1>
            Week 9
          </h1>
        </div>
        <div class="center-tool">
          <h3>
            PHP and SQL	
          </h3>
        </div>
      </div>
      <div class="content">
        <div class="center-tool">
          <h2>
            Lecture
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Slides
          </a>
        </div>
        <div class="center-tool">
          <h2>
            Tutorial
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Handout
          </a>
        </div>
      </div>
    </div>



    <div class="week">
      <div class="name">
        <div class="center-tool">
          <h1>
            Week 10
          </h1>
        </div>
        <div class="center-tool">
          <h3>
            JavaScript and jQuery	
          </h3>
        </div>
      </div>
      <div class="content">
        <div class="center-tool">
          <h2>
            Lecture
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 jQuery Slides
          </a>
        </div>
        <div class="center-tool">
          <h2>
            Tutorial
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Handout
          </a>
        </div>
      </div>
    </div>



    <div class="week">
      <div class="name">
        <div class="center-tool">
          <h1>
            Week 11
          </h1>
        </div>
        <div class="center-tool">
          <h3>
            jQuery, AJAX, JSON	
          </h3>
        </div>
      </div>
      <div class="content">
        <div class="center-tool">
          <h2>
            Lecture
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Slides
          </a>
        </div>
        <div class="center-tool">
          <h2>
            Tutorial
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Handout
          </a>
        </div>
      </div>
    </div>


    <div class="week">
      <div class="name">
        <div class="center-tool">
          <h1>
            Week 12
          </h1>
        </div>
        <div class="center-tool">
          <h3>
            Last Year's final
          </h3>
        </div>
      </div>
      <div class="content">
        <div class="center-tool">
          <h2>
            Lecture
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Winter 2016 Final
          </a>
        </div>
        <div class="center-tool">
          <h2>
            Tutorial
          </h2>
        </div>
        <div class="center-tool">
          <a href="./static/pdf/w1.pdf">
            📁 Handout
          </a>
        </div>
      </div>
    </div>


    <div class="footer">
      <div class="centre-tool">
        <div class="footer-col">
          <p>
            Developed by Tina Zamiri, Young Chen, and Anabelle Hsiao.
            <br> <br>
          </p>
        </div>
        <div class="footer-col" id="uni-col">
          <p id="uni-p">
            This course is brought to you by the University of Toronto Faculty of Computer Science.
            <br>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">
              <br>Click here to visit our faculty's website.
            </a>
          </p>
        </div>
        <div class="footer-col center-tool">
          <img src="./static/images/ut.svg">
        </div>
      </div>
    </div>
  
    <script src='./static/js/dropdown.js'></script>
  </body>
</html>